  *{box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  body{
  text-align: center;}
 
  #container{background: url(sun.jpg) no-repeat;
	background-size: cover;
width: 100vw;
height: 100vh;
background-position: top;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

h2{color: black;
background: rgb(138, 255, 241);
font-size: 1.8rem;
padding: 8px 18px;
margin-bottom: 10px;
}

#daty{background: black;
color: white;
font-size: 1rem;
padding: 5px;
width: 60vw;
}

#demo{color: white;
background: black;
font-size: 1.8rem;
width: 60vw;
}

@media screen and (min-width: 800px){
	#daty{font-size: 3rem;
}
#demo{font-size: 4rem;
}
}